<h1>Omg Selfies</h1>
<br>
<%= link_to "New Selfie", new_photo_path, :class=>"btn btn-lg btn-default" %>
<br>
<br>
<div class="row">
  <% @photos.each do |photo| %>
  <div class="col-sm-6 col-md-3">

    <a href = "<%= photo_path(photo.id) %>"><%= image_tag photo.picture.url, :class=>"thumbnail" %></a>
  </div>
  <% end %>
</div>
