<h1>Omg Selfies</h1>

<ul>
  <% @photos.each do |photo| %>
  <%= image_tag photo.picture.url %>
  <%= image_tag photo.picture.url(:medium) %>
  <%= image_tag photo.picture.url(:thumb) %>
  <% end %>
</ul>
